html {
	scroll-behavior: smooth;
}
body {
	font-size: 20px;
	background-color: #fff;
	color: rgb(134, 132, 132);
	font-family: "Lato", sans-serif;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}
.asterick::after {
	content: "*";
	color: rgb(230, 126, 34);
	font-size: 18px;
}
.heroheading {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero-min.jpg);
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
}
.herocontainer {
	height: 100vh;
	padding-top: 15%;
}

h1 {
	font-weight: 300;
	font-size: 200%;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 4px;
}
.h1onclick {
	/* margin-top: 0%; */
	transform: translate(0px, -130px);
}
a.btn {
	font-size: 15px;
	background-color: rgb(230, 126, 34);
	border-color: rgb(254, 126, 34);
	border-radius: 12px;
	color: white;
}

a.btn:hover {
	/* background-color: rgb(212, 141, 8); */
	background-color: transparent;
	border-radius: 12px;
	color: rgb(230, 126, 34);
	border-color: rgb(230, 126, 34);
}

a.btn-outline-warning {
	background-color: transparent;
	border-color: rgb(230, 126, 34);
	border-radius: 12px;
	color: rgb(230, 126, 34);
}
a.btn-outline-warning:hover {
	background-color: rgb(230, 126, 34);
	border-color: rgb(230, 126, 34);
	color: white;
	border-radius: 12px;
}

.logo {
	height: 130px;
	width: auto;
}
.navoptions {
	text-transform: uppercase;
}
.navoptions:hover {
	border-bottom: rgb(230, 126, 34) solid 2px;
}

.sectionmain {
	/* height: 100vh; */
	padding-top: 30px;
	color: rgb(85, 83, 83);
	overflow: hidden;
}
.feature {
	text-align: center;
	margin: auto;
}
.feature::after {
	display: block;
	content: "    ";
	height: 2px;
	background-color: #e67e22;
	width: 100px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.featuretext {
	font-size: 25px;
	margin-left: 70px;
	margin-right: 70px;
	font-weight: 400;
}

.featuretext p {
	font-size: 20px;
	text-align: justify;
}

.featureicon {
	color: rgb(230, 126, 34);
	font-size: 400%;
	font-weight: 100;
	margin-bottom: 30px;
	margin-top: 15px;
}

h5,
h4,
h2 {
	text-transform: uppercase;
	text-align: center;
}

.meals {
	/* height: 100vh; */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.meals div {
	overflow: hidden;
	background-color: #000;
}

.meals img {
	width: 100%;
	/* height: 50vh; */
	opacity: 0.7;
	transform: scale(1.15);
	transition: all 0.5s;
}

.meals img:hover {
	width: 100%;
	/* height: 50vh; */
	opacity: 1;
	transform: scale(1.05);
}
.meals div {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

/*! Works */
.app {
	height: 450px;
}
.backbutton {
	text-decoration: none;
	text-transform: uppercase;
	color: #e67e22;
	font-weight: 400;
}
.backbutton:hover {
	color: #e67e22;
	border-bottom: #e67e22 1px;
}
.appnumber {
	border: 1.5px rgb(230, 126, 34) solid;
	text-align: center;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	float: left;
}
.download {
	height: 40px;
	width: autppx;
}

/*!  Cities */
.city {
	color: rgb(88, 87, 87);
}
.city img {
	width: 100%;
	height: 170px;
}
h3 {
	text-transform: uppercase;
	font-size: 20px;
}

/*! Customers */
sectioncustomers {
	height: 100vh;
}
.customers {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
	background-size: cover;
	height: 100vh;
	color: rgb(214, 205, 205);
	background-attachment: fixed;
}
.customer {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-right: 10px;
}

.customers p {
	font-weight: 300;
	font-style: italic;
	line-height: 185%;
}
span.display-4 {
	/* padding-top: 1190px; */
	color: white;
}

/*! Payment plans */
.pheading {
	color: rgb(230, 126, 34);
}

.payment span {
	font-size: 300%;
	font-weight: 300;
}
.payment small {
	font-size: 80%;
	color: rgb(156, 152, 152);
}
.paymenticon {
	color: rgb(230, 126, 34);
	font-size: 100%;
}

.btn-primary {
	background-color: rgb(230, 126, 34);
	border-radius: 12px;
	border: #000;
}
.btn-primary:hover {
	background-color: rgb(254, 126, 34);
	transform: scale(1.05);
	transition: all 0.5s;
	border-radius: 12px;
	border: #000;
}
.btn-outline-primary {
	border: #000;
	color: rgb(230, 126, 34);
	border: rgb(230, 126, 34) 1px solid;
	border-radius: 12px;
}
.btn-outline-primary:hover {
	background-color: rgb(254, 126, 34);
	transform: scale(1.05);
	transition: all 0.5s;
	border-radius: 12px;
	border: #000;
	color: white;
}

.btn-outline-primary a {
	text-decoration: none;
	color: rgb(230, 126, 34);
}
.btn-outline-primary a:hover {
	text-decoration: none;
	color: white;
}

/*! Footer */
.footericon {
	font-size: 140%;
	margin-left: 20px;
	margin-top: 40px;
	color: rgb(134, 132, 132);
}
.footericon:hover {
	text-decoration: none;
	transform: scale(1.04);
}
footer a:hover {
	text-decoration: none;
	transform: scale(1.02);
}
footer {
	background-color: rgb(39, 39, 39);
	padding-bottom: 0%;
	height: 38vh;
}
.copyright {
	font-size: 60%;
	text-align: center;
}

/*! Media */
@media (max-width: 992px) {
	body {
		font-size: 15px;
	}
	.herocontainer {
		margin-top: 32%;
		padding-top: 0%;
	}
	.feature h2 {
		font-size: 20px;
	}
}
@media (max-width: 600px) {
	.heroheading {
		font-size: 10px;
		height: 70vh;
	}
	a.btn {
		font-size: 12px;
	}
	.meals {
		display: none;
	}
	.footericon {
		font-size: 140%;
		margin-left: 10px;
		margin-top: 40px;
		color: rgb(134, 132, 132);
	}
	h2 {
		font-size: 15px;
	}
	.featuretext {
		font-size: 20px;
		margin-left: 50px;
		margin-right: 50px;
		font-weight: 400;
	}
	.review {
		font-size: 15px;
	}
	.customers p {
		font-weight: 300;
		font-style: italic;
		line-height: 105%;
		font-size: 12px;
	}
}
